#root {
  background-color: #fffff7;
}
.wrap {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fffff7;
}

.home-left-area {
  width: 100%;
  max-width: 512px;
  height: 540px;
}

.title {
  padding: 0 20px;
}

.title img {
  width: 340px;
  height: auto;
  margin-left: -20px;
}

.title p {
  font-size: 20px;
  font-weight: 600;
  color: #8d5d26;
}

.feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 40px 20px 0;
}

.feature li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160px;
  background-color: rgba(250, 235, 215, 0.26);
  border-radius: 14px;
  box-shadow: 2px 2px 8px 0px rgba(73, 33, 0, 0.116);
}

.feature li img {
  width: 50px;
  height: auto;
}

.feature li p {
  padding-top: 16px;
  color: #0f0f0f;
}

/* media query */
@media only screen and (min-width: 1024px) {
  .wrap {
    width: 100%;
  }
}

@media only screen and (max-width: 1023px) {
  .home-left-area {
    display: none;
  }

  .wrap {
    justify-content: center;
    align-items: center;
  }
}
